*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*Above code is the boiler plate CSS for all my apps*/
/*Styling for body*/
body{
    background: rgb(197, 131, 51);
}
/*Styling for class named app*/
.app{
    width: 90%;
    padding: 32px;
    margin: 100px auto;
    background: #cf9494;
    max-width: 550px;
    border-radius: 15px;
}
/*Styling for app h1*/
.app h1{
    color: #cf9494;
    border-bottom: 2px solid #333;
    font-size: 30px;
    padding-bottom: 35px;
    font-weight: 600;
}
/*Styling for quiz class*/
.quiz{
    padding: 20px 0;
}
/*Styling for quiz h2*/
.quiz h2{
    color: #000;
    font-size: 12px;
    font-weight: 550;
}
/*CSS for btn*/
.btn{
    margin: 10p 0;
    width: 100%;
    color: #222;
    background: #fff;
    border: 2px solid #222;
    padding: 12px;
    font-weight: 500;
    transition: all 0.3s;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
}
/*Add hover effect*/
.btn:hover{
    background: #000;
    color: #fff;
}
/*CSS for next button id*/
