*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*Above code is the boiler plate CSS for all my apps*/
/*Styling for body*/
body{
    background: rgb(158, 123, 79);
}
/*Styling for class named app*/
.app{
    width: 90%;
    padding: 32px;
    margin: 100px auto;
    background: #835a5a;
    max-width: 550px;
    border-radius: 17px;
}
/*Styling for app h1*/
.app h1{
    color: #463535;
    border-bottom: 2px solid #222020;
    font-size: 30px;
    padding-bottom: 35px;
    font-weight: 600;
}
/*Styling for quiz class*/
.quiz{
    padding: 20px 0;
}
/*Styling for quiz h2*/
.quiz h2{
    color: #3f3232;
    font-size: 15px;
    font-weight: 550;
}
/*CSS for btn*/
.btn{
    margin: 12px 0;
    width: 100%;
    color: #2e2424;
    background: #523f3f;
    border: 5px solid #5f5050;
    padding: 13px;
    font-weight: 500;
    transition: all 0.3s;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
}
/*Add hover effect*/
.btn:hover:not([disabled]){/*Hover effect will work when button is not disabled*/
    background: #363232;
    color: #867373;
}
.btn:disabled{/*Only click on next button after clicking on answer*/
    cursor: no-drop;
}
/*CSS for next button id*/
#next-btn{
    border: 0;
    margin: 20px auto 0;
    width: 150px;
    display: none;
    font-weight: 550;
    background: #e4a4a4;
    padding: 13px;
    border-radius: 5px;
    color: #3a3636;
    cursor: pointer;
}
/*Change color for correct class*/
.correct{
    background: rgb(119, 119, 194);
}
/*Add background for incorrect class name*/
.incorrect{
    background: rgb(212, 149, 149);
}
