*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*Above code is the boiler plate CSS for all my apps*/
/*Styling for body*/
body{
    background: rgb(197, 131, 51);
}
/*Styling for class named app*/
.app{
    width: 90%;
    padding: 32px;
    margin: 100px auto;
    background: #cf9494;
    max-width: 550px;
    border-radius: 17px;
}
/*Styling for app h1*/
.app h1{
    color: #cf9494;
    border-bottom: 2px solid #333;
    font-size: 30px;
    padding-bottom: 36px;
    font-weight: 600;
}
/*Styling for quiz class*/
.quiz{
    padding: 21px 0;
}
/*Styling for quiz h2*/
.quiz h2{
    color: #695c5c;
    font-size: 12px;
    font-weight: 560;
}
/*CSS for btn*/
.btn{
    margin: 11p 0;
    width: 100%;
    color: #222;
    background: #b97f7f;
    border: 3px solid #524e4e;
    padding: 13px;
    font-weight: 500;
    transition: all 0.3s;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
}
/*Add hover effect*/
.btn:hover{
    background: #292727;
    color: #daa1a1;
}
/*CSS for next button id*/
#next-btn{
    border: 0;
    margin: 21px auto 0;
    width: 150px;
    display: none;
    font-weight: 550;
    background: #615656;
    padding: 12px;
    border-radius: 5px;
    color: #645757;
    cursor: pointer;
}
